/* SPDX-License-Identifier: Apache-2.0 */

&i2c2 {
	bma220@a {
		compatible = "bosch,bma220";
		reg = <0xa>;
		label = "BMA220_I2C";
		int-gpios = <&gpiob 0 0>;
	};
};

&usart1 {
	current-speed = <57600>;
	sim800l {
		compatible = "simcom,sim800l";
		label = "SIM800L";
		mdm-reset-gpios = <&gpiob 1 0>;
	};
};
