/* SPDX-License-Identifier: Apache-2.0 */

&i2c2 {
	bma220@a {
		compatible = "bosch,bma220";
		reg = <0xa>;
		label = "BMA220_I2C";
		int-gpios = <&gpiob 0 0>;
	};
};

&usart1 {
	current-speed = <57600>;
	sim800l {
		compatible = "simcom,sim800l";
		label = "SIM800L";
		mdm-reset-gpios = <&gpiob 1 0>;
	};
};

&usart2 {
	current-speed = <921600>;
};

&usart3 {
	status = "okay";
	current-speed = <9600>;
	pinctrl-0 = <&usart3_tx_pc10 &usart3_rx_pc11>;
};

/ {
     aliases {
             hc05-serial = &usart3;
     };
};
